'[Unit]
Description=LibSohal Backend software
After=docker.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/root/libsohal/
ExecStart=/bin/bash /root/libsohal/backend

[Install]
WantedBy=multi-user.target